/* PAGE LAYOUT */

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

/* IMAGES */

.imageContainer {
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark);
}


/* LOCATION DATA */

.locationDataContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  padding: 40px;
}

.image {
  width: 100%;
}

.coordinates {
  display: flex;
  flex-direction: row;
}

.data {
  flex: 1;
  min-height: 60px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--medium-grey);
  text-transform: uppercase;
  font-size: 12px;
}

.field {
  color: var(--header-color);
  word-wrap: break-word;
  word-break: break-all;
}

.field h2 {
  font-weight: 100;
}

/* REVIEWS */

.reviewsContainer {
  padding: 20px;
  background-color: var(--light-grey);
}

.addReview {
  display: flex;
  align-items: flex-end;
}

.addReview:hover {
  color: coral;
}

.reviewsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--dark);
  padding: 10px 0;
}

@media only screen and (max-width: 1200px) {

  .coordinates {
    display: block;
  }

}

@media only screen and (max-width: 500px) {

  .locationDataContainer {
    padding: 20px;
  }

  .addReview {
    padding-left: 5px;
  }

  .hideOnMobile {
    /* visibility: hidden; */
    flex-direction: row-reverse;
  }

}
