.arrowContainer {
    width: 50px;
    height: 50px;
}

.dial {
    padding-top: 60px;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    align-items: flex-start;
    width: 150px;
}

.row {
    display:flex;
    flex-direction:row;
}

.arrowText {
    text-align: center;
    margin-left: -5px;
    color: white;
    padding-top: 7px;
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 2em solid transparent;
    border-right: 2em solid transparent; 
    border-bottom: 2em solid lightgrey;
    transform-origin: top center;
}

.interactive:hover, .selected {
    border-bottom: 2em solid var(--header-color);
}

.arrowWest {
    composes: arrow;
    transform: rotate(90deg) translate(0, 0px);
}

.arrowSouthwest {
    composes: arrow;
    transform: rotate(45deg) translate(0, -20px);
}

.arrowSouth {
    composes: arrow;
    transform: rotate(0deg);
}

.arrowSoutheast {
    composes: arrow;
    transform: rotate(-45deg) translate(0, -20px);
}

.arrowEast {
    composes: arrow;
    transform: rotate(-90deg) translate(0, 0px);
}

.arrowNorthwest {
    composes: arrow;
    transform: rotate(135deg) translate(0, -20px);
}

.arrowNorth {
    composes: arrow;
    transform: rotate(180deg);
}

.arrowNortheast {
    composes: arrow;
    transform: rotate(225deg) translate(0, -20px);
}

@media only screen and (max-width: 800px) {

    .dial > div {
        display: flex !important;
      }
      
}

@media only screen and (max-width: 500px) {

    .dial {
        justify-content: space-between;
        align-items: center;
        margin-left: -50px;
        margin-top: -30px;
        margin-bottom: 0;
    }

    .arrowText {
        font-size: 10px;
        margin-left: -4px;
        padding-top: 3px;
    }

    .arrow {
        border-left: 1em solid transparent;
        border-right: 1em solid transparent; 
        border-bottom: 1em solid lightgrey;
    }
        
    .arrowWest {
        composes: arrow;
        transform: rotate(90deg) translate(0, -.8em);
    }

    .arrowSouthwest {
        composes: arrow;
        transform: rotate(45deg) translate(0, -2em);
    }

    .arrowSouth {
        composes: arrow;
        transform: rotate(0deg) translate(0, -.8em);
    }

    .arrowSoutheast {
        composes: arrow;
        transform: rotate(-45deg) translate(0, -2em);
    }

    .arrowEast {
        composes: arrow;
        transform: rotate(-90deg) translate(0, -.8em);
    }

    .arrowNorthwest {
        composes: arrow;
        transform: rotate(135deg) translate(0, -2em);
    }

    .arrowNorth {
        composes: arrow;
        transform: rotate(180deg) translate(0, -.8em);
    }

    .arrowNortheast {
        composes: arrow;
        transform: rotate(225deg) translate(0, -2em);
    }

}